HF_TOKEN="your_huggingface_token_here"
GITHUB_PAT="your_github_personal_access_token_here"
MONGO_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=rat-users-database"
HF_SPACE_URL="nd1490/ratatouille-inference"
HF_SPACE_URL_V9="nd1490/ratatouille-inference-v10-q8"
GROQ_API_KEY="your_groq_api_key_here"
